{% extends "base.html" %}

{% block content %}
  <h1>{{ author.first_name }} {{ author.last_name }}</h1>
  <p><strong>username: </strong>{{ author.username }}</p>
  <p><strong>Pseudonym: </strong>{{ author.pseudonym }}</p>
  <p><strong>Is staff: </strong>{{ author.is_staff }}</p>
  <div class="ml-3">
    <h3>Books:</h3>
    {% for book in author.books.all %}
      <hr>
      <p class="text-muted">id: {{ book.id }}</p>
      <h5>Title: <a href="{{ book.get_absolute_url }}">{{ book.title }}</a></h5>
      <h5>Format: {{ book.format }}</h5>
    {% empty %}
      <p>No books!</p>
    {% endfor %}
  </div>
{% endblock %}
